name: test-datalad_container

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '30 01 * * *'

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
    - name: Set up system
      shell: bash
      run: |
        bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
        sudo apt-get update -qq
        sudo apt-get install eatmydata
        sudo eatmydata apt-get install git-annex-standalone
    - name: Set up environment
      run: |
        git config --global user.email "test@github.land"
        git config --global user.name "GitHub Almighty"
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install DataLad (master)
      run: |
        python -m pip install --upgrade pip
        pip install https://github.com/datalad/datalad/archive/master.zip
    - name: Install datalad_container extension from PyPI ([devel])
      run: |
        pip install datalad_container[devel]
    - name: Install nose et al (just in case!)
      run: |
        pip install nose vcrpy mock

    - name: Install APT depends for the extension
      run: sudo eatmydata apt-get install singularity-container

    - name: WTF!?
      run: |
        datalad wtf
    - name: datalad_container tests
      run: |
        mkdir -p __testhome__
        cd __testhome__
        python -m nose -s -v --with-cov --cover-package datalad datalad_container